@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme {
  --breakpoint-mobile: 360px;
  --breakpoint-530: 530px;
  --breakpoint-520: 520px;
  --breakpoint-585: 585px;
  --breakpoint-less-desctop: 1400px;
  --breakpoint-1455: 1455px;
  --breakpoint-1500: 1500px;
  --breakpoint-choose: 1675px;
  --breakpoint-form: 1250px;
  --breakpoint-1155: 1155px;
  --breakpoint-1295: 1295px;
  --breakpoint-1510: 1510px;
  --breakpoint-1070: 1070px;
  --breakpoint-830: 830px;
  --breakpoint-975: 975px;
  --color-main-back: #031c52;
  --color-gradient-blue: linear-gradient(
    -40deg,
    rgb(14, 79, 255) 30%,
    rgb(44, 13, 136) 60%,
    rgb(253, 7, 191) 100%
  );
  /* for hover */
  --color-gradient-blue-reverse: linear-gradient(
    -40deg,
    rgb(253, 7, 191) 0%,
    rgb(44, 13, 136) 40%,
    rgb(14, 79, 255) 70%
  );
  --color-gradient-dark-blue: linear-gradient(90deg, #070067 0%, #0062ff 100%);
  --color-gradient-dark-blue-vertical: linear-gradient(
    180deg,
    #070067 0%,
    #0062ff 100%
  );
  --color-gradient-light-blue: linear-gradient(90deg, #0de4fd 0%, #1649f7 100%);
  --color-gradient-cold-blue: linear-gradient(90deg, #1649f7 0%, #0de4fd 100%);
  --color-gradient-white: linear-gradient(90deg, #c3ffff 0%, #0bd3fb 100%);
  --color-gradient-white-reverse: linear-gradient(
    90deg,
    #0bd3fb 0%,
    #c3ffff 100%
  );
  --color-gradient-purple: linear-gradient(
    90deg,
    #0062ff 0%,
    rgba(253, 8, 176, 0.8) 100%
  );
  --color-gradient-purple-reverse: linear-gradient(
    90deg,
    rgba(253, 8, 176, 0.8) 0%,
    #0062ff 100%
  );
  --color-gradient-grey: linear-gradient(180deg, #031c52 30%, #c2c2c2 100%);
  --color-gradient-grey-light: linear-gradient(
    180deg,
    #031c52 0%,
    #0062ff 100%
  );
  --color-blur-bg: rgba(245, 245, 245, 0.15);
  --shadow-white-shadow:
    4px 5px 20px #38fcfe66, -2px 1px 7px #38fcfe66,
    inset 0 -2px 4px rgba(0, 0, 0, 0.6),
    inset 0 2px 4px rgba(255, 255, 255, 0.4);
  --shadow-img-shadow:
    5px 5px 10px #0bd3fb, -2px 1px 7px #38fcfe66,
    inset 0 -2px 4px rgba(0, 0, 0, 0.6),
    inset 0 2px 4px rgba(255, 255, 255, 0.4);
}

@layer utilities {
  @media (max-width: 1920px) {
    .container {
      max-width: 1920px;
      padding-inline: 40px;
    }
  }
  @media (max-width: 1400px) {
    .container {
      max-width: 1920px;
      padding-inline: 20px;
    }
  }
  .gradient-blue {
    background: var(--color-gradient-blue);
  }
  .gradient-dark-blue {
    background: var(--color-gradient-dark-blue);
  }
  .gradient-white {
    background: var(--color-gradient-white);
  }
  .gradient-white-reverse {
    background: var(--color-gradient-white-reverse);
  }
  .gradient-purple {
    background: var(--color-gradient-purple);
  }
  .gradient-purple-reverse {
    background: var(--color-gradient-purple-reverse);
  }
  .gradient-light-blue {
    background: var(--color-gradient-light-blue);
  }
  .gradient-cold-blue {
    background: var(--color-gradient-cold-blue);
  }
  .gradient-dark-blue-vertical {
    background: var(--color-gradient-dark-blue-vertical);
  }
  .gradient-grey {
    background: var(--color-gradient-grey);
  }
  .gradient-grey-light {
    background: var(--color-gradient-grey-light);
  }
  .text-gradient-white {
    background: var(--color-gradient-white);
    @apply bg-clip-text text-transparent;
  }
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: white transparent;
  }

  .swiper-slide {
    display: flex !important;
    justify-content: center !important;
  }
}

@layer base {
  * {
    margin: 0;
    -ms-overflow-style: none;
  }
  html,
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  *::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  body {
    height: 100vh;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: var(--color-main-back);
    color: #fff;
  }
  input {
    outline: none;
  }
}
