@import "tailwindcss";

@theme {
  --color-main-back: #031C52;
}

@layer utilities {
  .container {
    max-width: 1920px;
  }
}

@layer base {
  * {
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;

    *::-webkit-scrollbar {
      display: none;
    }
  }
  body {
    height: 100vh;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: var(--color-main-back);
    color: #fff;
  }
  input {
    outline: none;
  }
}