@import "tailwindcss";

@theme {
  --color-main-back: #031c52;
  --color-gradient-blue: linear-gradient(
    -40deg,
    rgb(14, 79, 255) 30%,
    rgb(44, 13, 136) 60%,
    rgb(253, 7, 191) 100%
  );
  --color-gradient-white: linear-gradient(90deg, #c3ffff 0%, #0bd3fb 100%);
  --color-gradient-dark-blue: linear-gradient(90deg, #070067 0%, #0062ff 100%);
  --color-blur-bg: rgba(245, 245, 245, 0.15);
  --shadow-white-shadow:
    4px 5px 20px #38fcfe66, -2px 1px 7px #38fcfe66,
    inset 0 -2px 4px rgba(0, 0, 0, 0.6),
    inset 0 2px 4px rgba(255, 255, 255, 0.4);
}

@layer utilities {
  .container {
    max-width: 1920px;
  }
  .gradient-blue {
    background: var(--color-gradient-blue);
  }
  .gradient-dark-blue {
    background: var(--color-gradient-dark-blue);
  }
  .gradient-white {
    background: var(--color-gradient-white);
  }
}

@layer base {
  * {
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;

    *::-webkit-scrollbar {
      display: none;
    }
  }
  body {
    height: 100vh;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: var(--color-main-back);
    color: #fff;
  }
  input {
    outline: none;
  }
}
